<nav id="sidebar">
        <div class="sidebar-header">
            <h3>CD?L</h3>
        </div>
        {% include sidebar-links.html %}
        <ul class="list-unstyled components">
            <a href="#intro"><h5 style="text-align: center;">CD?L</h5></a>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">About the CDIL</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#history">History</a>
                    </li>
                    <li>
                        <a href="#location">Location</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">People</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#people">Staff</a>
                    </li>
                    <li>
                        <a href="#faculty">Faculty Fellows</a>
                    </li>
                    <li>
                        <a href="#students">Student Fellows</a>
                    </li>
                    <li>
                        <a href="#collaborators">Collaborators</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#events">Workshops & Events</a>
            </li>
        </ul>
    </nav>