<div class="container" id="events" name="events">
		<br>
		<br>
		<h2>Workshops & Events</h2>
		<hr>
		<br>

		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<h5>About</h5>
				<p>CDIL workshops engage faculty, staff, and students on campus with a variety of tools and techniques for
					working with data and technology in their research projects. <br /><br />Most workshops are held in the CDIL
					(Room 211) or the instruction room on the <a href="http://www.lib.uidaho.edu/about/maps.html#second"
						target="_blank">second floor of the library</a>.</p>
				<p>If you'd like to request or lead a workshop, please email the Workshop Coordinator, Evan Williamson at <a
						href="mailto:ewilliamson@uidaho.edu">ewilliamson@uidaho.edu</p>
			</div>

			<div class="col-lg-6 col-sm-12">
				<h5>Upcoming Workshops</h5>
				<div id="api_upc_cid4884_iid3479"></div>
				<script type="text/javascript"
					src="https://api3.libcal.com/api_events.php?iid=3479&m=upc&cid=4884&c=&d=27542-27738-27541&l=5&target=_blank&simple=ul_date&context=object&format=js"> </script>
			</div>

			<h5>DH Workshops and Events in the area</h5>
			<p>Washington State University's <a href="https://cdsc.libraries.wsu.edu">Center for Digital Scholarship and
					Curation (CDSC)</a> offers regular digital scholarship workshops and public programming. </p>
			<h5 class="centered"><a href="https://cdsc.libraries.wsu.edu/events-and-news/join-us/">CDSC Events</a></h5>

		</div><!-- /row -->
		<br>
		<br>
</div>